// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #ebb42c;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// $dark-green: #4a7c59;
$dark-green: #012B28;
$more-dark-green: #68b0ab;
$light-green: #8fc0a9;
$lighter-green: #c8d5b9;
// $lightest-green: #faf3dd;
$lightest-green: #ffff;
$pink: #dd9787;
