
<div class="container my-5 custom-bg-color rounded">
  <div class="p-3 text-center rounded-3">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-2">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar-lg dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false"} %>
        <% else %>
          <img class="avatar-lg dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://res.cloudinary.com/dp39nvrov/image/upload/v1701160462/no_profile_pic_mygech.png" />
        <% end %>
      </div>
      <div class="col-lg-10">
        <h3 class="text-body-emphasis">Hello from your landlord 👋 </h3>
        <p class="fs-5 text-muted italicized">
          Welcome to Pin Point Villa in Bali. To help you organize your holiday, I have put a list below with my favorite recommendations.
        </p>
      </div>
    </div>
  </div>
</div>



  <div class="container">
  <h3 class="mb-3"> Activities in your vacasion home</h3>
  <% console %>
  <% @recommendations.first(5).each do |recommendation| %>
  <h4> <%= recommendation.recommendable.title %> </h4>
  <% end %>
  </div>
