<h1>My Bookings</h1>
<% if @bookings.count == 0 %>
  <p>You don't have any bookings yet</p>
  <% else %>
  <div>
    <ul>
    <% @bookings.each do |booking| %>
      <li><%= "#{booking.activity.title} - #{booking.activity.price}€ - #{booking.start_date}" %></li>
    <% end %>
    </ul>
  </div>
<% end %>
