<div class="container">
  <h1>Please select a property below</h1>
    <% @properties.each do |property| %>
      <div class="row">
      <div class="d-flex align-items-center justify-content-between">
        <%= link_to property_path(property) do %>
          <div class="col-8 flex-grow-1">
            <h3 class="text-decoration-none"><%= property.name %></h3>
          </div>
        <% end %>
          <div class="col-4">
            <%= image_tag 'outdoors_activity', alt: "text", class: "img-thumbnail align-items-end", width: 200, height: 200 %>
            <% if property.photo.nil? %>
            <% else %>
              <%= image_tag property.photo, alt: "#{property.name} Main Photo", class: "img-thumbnail", width: 200, height: 200, loading: "lazy" %>
            <% end %>
          </div>
        </div>
  </div>
    <% end %>
</div>
