<div class="container">
  <h1>Please select a property below</h1>
  <% @properties.each do |property| %>
    <%= link_to property_path(property) do %>
      <div class="row align-items-center justify-content-between">
        <div class="col-8">
          <h3><%= property.name %></h3>
        </div>
        <div class="col-4">
          <% if property.photo.nil? %>
          <% else %>
            <%= image_tag property.photo, alt: "#{property.name} Main Photo", class: "img-thumbnail", width: 200, height: 200, loading: "lazy" %>
          <% end %>
        </div>
      </div>
    <% end %>

      <div class="row">
        <h5>Here is the link to send to your guests</h5>
        <div class="input-group" data-controller="clipboard" data-clipboard-feedback-text-value="Copied!">
          <input class="form-control" data-clipboard-target="input" type="text" value="https://abre-go.osc-fr1.scalingo.io/properties/<%= property.id %>/recommendations" readonly>
          <div class="input-group-append">
            <button id="copy-button" class="btn btn-outline-primary" data-action="click->clipboard#copy"><i class="fa-regular fa-paste"></i> Copy to Clipboard</button>
          </div>
        </div>
      </div>

  <% end %>
</div>
