<div class="container">
  <div class="my-3">
    <h1>Please select a property below</h1>
  </div>
  <% @properties.each do |property| %>
    <div class="row">
    <div class="card-property d-flex align-items-center justify-content-between">
      <%= link_to property_path(property) do %>
        <h3><%= property.name %></h3>
      <% end %>
        <%= image_tag 'outdoors_activity', alt: "text", class: "img-thumbnail align-items-end", width: 200, height: 200 %>
      <% if property.photo.nil? %>
      <% else %>
        <%= image_tag property.photo, alt: "#{property.name} Main Photo", class: "img-thumbnail", width: 200, height: 200, loading: "lazy" %>
      <% end %>
      </div>
    </div>
    <% end %>
</div>
