<div class="container my-2">
  <h1>Register a new property</h1>

  <p>All you have to do is paste the link to AirBnB below and we'll do the rest</p>

  <%= simple_form_for @property do |f| %>
    <%= f.input :embedded_link, label: "Aribnb Link" %>
    <%= f.button :submit, class: "btn-dark-green"%>
  <% end %>
</div>
