<div class="container">
<h1>Abrego</h1>
<div class="d-flex justify-content-between my-4">
<%= link_to "Book your favourite activities", activities_path, class: "btn btn-primary" %>
<%= link_to "Become a service provider", new_activity_path, class: "btn btn-primary" %>
</div>

<p>Search bar</p>
<p>Value proposition text</p>
<p>Snapshot of 3 </p>


</div>
