<h1>Abrego</h1>
<p>Book your favourite activities</p>
<p>Search bar</p>
<p>Value proposition text</p>
<p>Snapshot of 3 </p>

<%= link_to "Become a service provider", new_activity_path %>


<%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %>
