<div class="container my-3" data-controller="autocomplete-restaurant"
  data-autocomplete-restaurant-key-value=<%= ENV['BUSINESS_LOCAL_DATA_KEY'] %>
  data-autocomplete-restaurant-propertyid-value="<%= params[:property_id] %>" >
  <form action="#" data-action="submit->autocomplete-restaurant#find">
    <input type="text" data-autocomplete-restaurant-target="search">
    <input type="submit" value="Find the restaurant">
  </form>

  <ul data-autocomplete-restaurant-target="list" class="list-group">
    <%# <li data-google-id="">dummy restaurant</li> data-action click %>
  </ul>
</div>
