.navbar-lewagon {
  justify-content: space-between;
  background: $dark-green;
  color: $yellow;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.text-yellow {
  color: $yellow;
  font-family: $headers-font;

  &:hover {
    color: white
  }
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu {
  z-index: 1060;
}
