<div class="container py-5">
    <div class="row">
      <% @activities.each do | activity | %>
        <div class="co-12 col-sm-6 col-md-4 mb-3">
          <%= activity.title %>
          <%= activity.price %>
          <%= activity.location %>
          <%= activity.max_people %>
        </div>
       <% end %>
    </div>
  </div>
</div>
